<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HQ-Trivia II Game</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Custom styles -->
    <link rel="stylesheet" href="static/css/timer.css">
    <link rel="stylesheet" href="static/css/game_client_UI.css">

</head>
<body>
    <div class="container-sm">
        <!-- Top -->
        <div class="text-center shadow-sm p-3 mb-4 bg-white rounded">
            <h4>HQ-Trivia II Game</h4>
        </div>


        <!-- Body -->
        <div class="row d-flex align-items-start">
            <!-- Col 1 -->
            <div class="col-sm-3 > shadow-sm p-3 mb-5 bg-white rounded">
                <!-- (1) Username -->
                <form id="noname_form">
                    <label>Username</label>
                    <div class="input-group mb-3">
                        <input id="noname_input-username" type="text" class="username form-control" aria-label="Username">
                        <div class="input-group-append">
                            <button id="noname_btn-log-in" class="btn btn-primary" type="submit">
                                Log in
                            </button>
                        </div>
                    </div>
                </form>

                <label class="label_players" style="color: white; transition: color 1s">Players</label>
                <div class="player_wrapper" style="padding: 0" >
<!--                <div class="container" style=" border: 1px solid lightgray; border-radius: 4px; padding: 5px">-->
                </div>
            </div>

            <!-- Col 2 (white space between two zones) -->
            <div class="col-sm-1"></div>

            <!-- Col 3-->
            <div class="col-sm-8 shadow p-3 mb-5 bg-white rounded" style="min-height:265px !important">
                <div class="interactive-board">
                    <!-- Game status bar in the beginning -->
                    <div class="container" id="game-info-wrapper">
                        <h2 style="color: #ccc">Log in to Play</h2>
                    </div>

                    <!-- Timer -->
                    <center>
                        <div class="timer_container">
                            <div class="timer_text_container">
                                <h2 class="timer_text"></h2>
                            </div>
                            <svg class="timer_circle">
                                <circle class="circle_animation" r="30" cy="36" cx="36" stroke-width="4" stroke="#6fdb6f" fill="none"/>
                            </svg>
                        </div>
                    </center>

                    <!-- Question & Options -->
                    <div class="container" id="question-wrapper" style="margin-top: 30px;"></div>
                    <div class="container" id="options-wrapper" style="margin-bottom: 50px"><div>
                </div>
            </div>
        </div>
    </div>

    <!--  Bootstrap prerequisites -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <script src="static/js/game_client.js"></script>

</body>
</html>
